extends layout

block includes
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css')
block content
  h1= title
  p Welcome to #{title}
  table(class='ui celled table')
    thread
      tr
        th Nimi
        th Koodinimi
        th Hind
        th %
        th ml
        th Kategooria
        th Pood
    tbody
      each product in products
        each storeProduct in product.stores
          tr
            td(class='data-label')
              a(href=product.url) #{storeProduct.originalName}
            td(class='data-label') #{storeProduct.name}
            td(class='data-label') €#{storeProduct.price}
            td(class='data-label') #{storeProduct.vol}%
            td(class='data-label') #{storeProduct.ml}ml
            td(class='data-label') #{storeProduct.category}
            td(class='data-label') #{storeProduct.store}
