extends layout

block content
  include includes/ageConfirmation
  include includes/header

  if products
    div(class="ui grid indexPageHeader")
      p.populaarseimadHeader Populaarseimad tooted
    div(class="ui grid indexPage")
      for product in products
          div(class="four wide column")
            div(class="ui card")
              div(class="image")
                a(href=product.url)
                  img.indexPageImage(src=product.stores[0].imageUrl)
              div(class="content")
                a(href=product.url) #{product.showName}
                div(class="description") #{product.vol}%
                div(class="description") #{product.ml} ml
                div(class="header price") #{product.cheapest} €
    div(class="ui grid indexPageLoadMore")
      a(href="/populaarsed")
        button(class="ui basic button laeVeelNupp") Lae rohkem

  if cheapestProducts
    div(class="ui grid indexPageHeader")
      p.populaarseimadHeader Kõige rahakotisõbralikumad tooted Eestis
    div(class="ui grid indexPage")
      for product in cheapestProducts
        div(class="four wide column")
          div(class="ui card")
            div(class="image")
              a(href=product.url)
                img.indexPageImage(src=product.stores[0].imageUrl)
            div(class="content")
              a(href=product.url) #{product.showName}
              div(class="description") #{product.vol}%
              div(class="description") #{product.ml} ml
              div(class="header price") #{product.cheapestEE} €

  div(class="whitespace")

