extends layout

block includes
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/menu.min.css')
  link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css")
  link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.css")
  script(src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.js")
  script(src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")
  script(src="/js/menu.js")
block content
  include includes/ageConfirmation
  include includes/header

  if products
    each product in products
      div(class="ui grid indexPage")
        div(class="three wide column")
          div(class="image fixedImage")
            a(href=product.url)
              img(src=product.stores[0].imageUrl)
        div(class="six wide column alkoTekstIndex")
          div(class="paragraph alkoTekstiKirjeldus")
            a(href=product.url) #{product.showName}
            br
            | #{product.vol}% #{product.ml} ml
        div(class="seven wide column alkoHindIndex")
          | #{product.cheapestPrice} €

