extends layout

block includes
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/menu.min.css')
  link(rel="stylesheet", href="/stylesheets/style.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js")
  script(src="/js/menu.js")
block content
  h1(class="tiitel")= title
  include includes/header
  //p Welcome to #{title}

  -for(var i = 0 ; i < 8 ; i++)
    div(class="ui grid indexPage")
      div(class="one wide column")
      div(class="three wide column")
        div(class="image fixedImage")
          img(src="https://via.placeholder.com/500")
      div(class="one wide column")
      div(class="five wide column alkoTekstIndex")
        div(class="paragraph alkoTekstiKirjeldus")
          | Alko
          br
          | Kogus
          br
          | Miski kolmas
      div(class="one wide column")
      div(class="five wide column alkoHindIndex")
        | 15,89 €

  table(class='ui celled table recentlyUpdated')
    thread
      tr
        //th Nimi
        th Koodinimi
        //th Hind
        th %
        th ml
        th Kategooria
        //th Pood
    tbody
      each product in products
        tr
          td(class='data-label') #{product.name}
          td(class='data-label') #{product.vol}%
          td(class='data-label') #{product.ml}ml
          td(class='data-label') #{product.category}
          // each storeProduct in product.stores
          //   td(class='data-label')
          //     a(href=storeProduct.url) #{storeProduct.originalName}
          //
          //   td(class='data-label') €#{storeProduct.prices}
