extends layout

block includes
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css')
block content
  h1= title
  p Welcome to #{title}
  table(class='ui celled table')
    thread
      tr
        th Nimi
        th Koodinimi
        th Hind
        th %
        th ml
        th Kategooria
    tbody
      each product in products
        tr
          td(class='data-label')
            a(href=product.url) #{product.originalName}
          td(class='data-label') #{product.name}
          td(class='data-label') €#{product.price}
          td(class='data-label') #{product.vol}%
          td(class='data-label') #{product.ml}ml
          td(class='data-label') #{product.category}
