extends layout

block includes
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css')
block content
  h1 Jager
  h5= product.name
  h5= product.showName
  h5 #{product.ml}ml
  h5 #{product.vol}%
  h5 #{product.category}

  table(class='ui celled table')
    thread
      tr
        th Hind
        th Pood
        th Original name
    tbody
      each store in product.stores
        tr
          td(class='data-label') #{store.prices[0].price}
          td(class='data-label') #{store.storeName}
          td(class='data-label') #{store.originalName}
