extends layout

block includes
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/menu.min.css')
  link(rel="stylesheet", href="/stylesheets/style.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js")
  script(src="/js/menu.js")
block content
  h1(class="tiitel") Viinavaatlus
  include includes/header
  div(class="ui grid")
    div(class="two wide column")
    div(class="twelve wide column")
      div(class="ui grid")
        div(class="one wide column")
        div(class="six wide column")
          img(src=product.stores[0].imageUrl)
        div(class="nine wide column tooteleht info")
          p= product.showName
          if product.vol == null
            p Vol: Liiga kange!
          else
            p Vol: #{product.vol}%
          p Kogus: #{product.ml}ml
          p(class="alkohind") #{product.stores[0].prices[0].price}€
          //Praegu on siin Selveri hind, aga paneme midagi muud hiljem (just for testing atm)
        table(class="ui celled table uusimad")
          tr
            th Riik
            th Pood
            th Hind
            th Originaalne nimi
          each store in product.stores
            if store.prices[0].sale == true
              tr(class="tabelOnAllah")
                // Vaatad andmetest, mis riigikood on ja siis kas EE v LV
                td(class="storeCountry") EE
                td
                  a(href=store.url) #{store.storeName}
                td #{store.prices[0].price}
                td #{store.originalName}
            else
              tr
                td(class="storeCountry") EE
                td
                  a(href=store.url) #{store.storeName}
                td #{store.prices[0].price}
                td #{store.originalName}