extends layout

block includes
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/menu.min.css')
  link(rel="stylesheet", href="/stylesheets/style.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js")
  script(src="/js/menu.js")
block content
  h1(class="tiitel") Viinavaatlus
  include includes/header
  div(class="ui grid")
    div(class="six wide column tooteleht")
      img(src=product.stores[0].imageUrl)
    div(class="ten wide column tooteleht info")
      p= product.name
      p Vol: #{product.vol}%
      p Kogus: #{product.ml}ml
      p(class="alkohind") Hind

  table(class="ui celled table uusimad")
    tr
      th Pood
      th Hind
      th Originaalne nimi
    each store in product.stores
      tr
        td
          a(href=store.url) #{store.storeName}
        td #{store.prices[0].price}
        td #{store.originalName}
