extends layout

block includes
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.min.css')
block content
  include includes/ageConfirmation
  include includes/header
  div(class="ui grid")
    div(class="two wide column")
    div(class="twelve wide column")
      div(class="ui grid")
        div(class="one wide column")
        div(class="six wide column productImage")
          img.productpageImage(src=product.stores[0].imageUrl)
        div(class="nine wide column tooteleht info")
          p= product.showName
          if product.vol == null
            p Vol: Liiga kange!
          else
            p Vol: #{product.vol}%
          p Kogus: #{product.ml}ml
        table(class="ui celled table uusimad")
          tr
            th Riik
            th Pood
            th Hind
            th Originaalne nimi
          each store in product.stores
              tr(class=(store.prices[0].sale ? "tabelOnAllah" : ""))
                td(class="storeCountry") #{store.storeCounty}
                td
                  a(href=store.url) #{store.storeName}
                td #{store.showPrice}€
                td #{store.originalName}
        div(class="allahindluseTähis")
        | -tähistatud tooted on poes alla hinnatud
