extends layout

block includes
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/menu.min.css')
  link(rel="stylesheet", href="/stylesheets/style.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js")
  script(src="/js/menu.js")
block content
  include includes/header
  div(class="ui grid")
    div(class="six wide column tooteleht")
      img(src=product.stores[0].imageUrl)
    div(class="ten wide column tooteleht info")
      p= product.showName
      if product.vol == null
        p Vol: Liiga kange!
      else
        p Vol: #{product.vol}%
      p Kogus: #{product.ml}ml
      p(class="alkohind") #{product.stores[0].prices[0].price}€
      //Praegu on siin Selveri hind, aga paneme midagi muud hiljem (just for testing atm)

  table(class="ui celled table uusimad")
    tr
      th Riik
      th Pood
      th Hind
      th Originaalne nimi
    each store in product.stores
      if store.prices[0].sale
        tr(class="tabelOnAllah")
      else
        tr
          td(class="storeCountry") #{store.storeCounty}
          td
            a(href=store.url) #{store.storeName}
          td #{store.showPrice}€
          td #{store.originalName}
