extends layout

block content
  include includes/ageConfirmation
  include includes/header
  br
  div(class="ui grid")
    div(class="four wide column indexPage filterRadio filterRadioVasak")
      div(class="ui form filterRadioFields")
        div(class="grouped fields")
          label Sorteeri:
          div(class="field")
            div(class="ui radio checkbox")
              input(type="radio" name="sortType" value="0" checked=sortType===0)
              label Odavamad enne
          div(class="field")
            div(class="ui radio checkbox")
              input(type="radio" name="sortType" value="1" checked=sortType===1)
              label Kallimad enne
          div(class="field")
            div(class="ui radio checkbox")
              input(type="radio" name="sortType" value="2" checked=sortType===2)
              label A->Z
    div(class="four wide column indexPage filterRadio")
      div(class="ui form")
        div(class="grouped fields")
          label Poed
          div(class="ui grid")
            each column in stores
              div(class="six wide column")
                each store in column
                  div(class="field")
                    div(class="ui checkbox")
                      input(type="checkbox" name="store" value=store.id checked=storeCodes.includes(store.id))
                      label #{store.name}
    div(class="four wide column indexPage filterRadio")
      div(class="ui form")
        div(class="grouped fields")
          label Alkoholid
          div(class="ui grid")
            div(class="five wide column")
              div(class="field")
                div(class="ui checkbox")
                  input(type="checkbox" name="olu" value="õlu")
                  label Õlu
              div(class="field")
                div(class="ui checkbox")
                  input(type="checkbox" name="viin" value="viin")
                  label viin
              div(class="field")
                div(class="ui checkbox")
                  input(type="checkbox" name="rumm" value="rumm")
                  label rumm
              div(class="field")
                div(class="ui checkbox")
                  input(type="checkbox" name="vein" value="vein")
                  label vein
            div(class="five wide column")
              div(class="field")
                div(class="ui checkbox")
                  input(type="checkbox" name="likoor" value="likoor")
                  label likoor
              div(class="field")
                div(class="ui checkbox")
                  input(type="checkbox" name="gin" value="gin")
                  label gin
              div(class="field")
                div(class="ui checkbox")
                  input(type="checkbox" name="brandi" value="brandi")
                  label brandi
              div(class="field")
                div(class="ui checkbox")
                  input(type="checkbox" name="Alko1000" value="alko1000")
                  label Alko1000
            div(class="five wide column")
              div(class="field")
                div(class="ui checkbox")
                  input(type="checkbox" name="Selver" value="selver")
                  label Selver
              div(class="field")
                div(class="ui checkbox")
                  input(type="checkbox" name="Maxima" value="maxima")
                  label Maxima
              div(class="field")
                div(class="ui checkbox")
                  input(type="checkbox" name="COOP" value="coop")
                  label COOP
              div(class="field")
                div(class="ui checkbox")
                  input(type="checkbox" name="Alko1000" value="alko1000")
                  label Alko1000
    div(class="one wide column")
      button(class="ui button" id="updateButton") Uuenda

  br

  if products
    each product in products
      div(class="ui grid indexPage")
        div(class="one wide column")
        div(class="three wide column")
          div(class="image fixedImage")
            a(href=product.url)
              img(src=product.stores[0].imageUrl)
        div(class="five wide column alkoTekstIndex")
          div(class="paragraph alkoTekstiKirjeldus")
            a(href=product.url) #{product.showName}
            br
            br
            | #{product.vol}% #{product.ml} ml
        div(class="two wide column")
        div(class="five wide column alkoHindIndex")
          - var ee = product.cheapestEE ? `(EE: ${product.cheapestEE}€)` : ""
          - var eePerL = product.cheapestPerLStringEE ? `(EE: ${product.cheapestPerLStringEE}€/l)` : ""
          | #{product.cheapest}€
          br
          p.liitriHind #{product.cheapestPerLString}€/l
  else
    p Ühtegi toodet ei leitud

  div(class="ui pagination menu")
    each pageBefore in pagesBefore
      if pageBefore.pageNumber === -1
        a(class="item") ...
      else
        a(class="item" href=pageBefore.pageUrl) #{pageBefore.pageNumber}
    a(class="active item") #{page}
    each pageAfter in pagesAfter
      if pageAfter.pageNumber === -1
        a(class="item") ...
      else
        a(class="item" href=pageAfter.pageUrl) #{pageAfter.pageNumber}
