extends layout

block content
  include includes/ageConfirmation
  include includes/header
  div(class="ui form")
    div(class="grouped fields")
      div(class="field")
        div(class="ui radio checkbox esimeneSort")
          input(type="radio" name="odavamad" value="1" checked="checked")
          label Odavamad enne
        div(class="ui radio checkbox")
          input(type="radio" name="odavamad" value="2")
          label Kallimad enne
  if products
    each product in products
      div(class="ui grid indexPage")
        div(class="one wide column")
        div(class="three wide column")
          div(class="image fixedImage")
            a(href=product.url)
              img(src=product.stores[0].imageUrl)
        div(class="five wide column alkoTekstIndex")
          div(class="paragraph alkoTekstiKirjeldus")
            a(href=product.url) #{product.showName}
            br
            br
            | #{product.vol}% #{product.ml} ml
        div(class="two wide column")
        div(class="five wide column alkoHindIndex")
          | #{product.cheapestPrice} €

  if products
    table(class="ui celled table uusimad")
      thread
        tr
          th Koodinimi
          th %
          th ml
          th Kategooria
      tbody
        each product in products
          tr
            td(class='data-label')
              a(href=product.url) #{product.name}
            td(class='data-label') #{product.vol}%
            td(class='data-label') #{product.ml}ml
            td(class='data-label') #{product.category}
