extends layout

block includes
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/menu.min.css')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/form.min.css")
  link(rel="stylesheet", href="/stylesheets/style.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/form.min.js")

  script(src="/js/menu.js")

block content
  h1(class="tiitel")= title
  include includes/header
  div(class="ui form")
    div(class="grouped fields")
      div(class="field")
        div(class="ui radio checkbox esimeneSort")
          input(type="radio" name="odavamad" value="1" checked="checked")
          label Odavamad enne
        div(class="ui radio checkbox")
          input(type="radio" name="odavamad" value="2")
          label Kallimad enne
  -for(var i = 0 ; i < 8 ; i++)
    div(class="ui grid indexPage")
      div(class="one wide column")
      div(class="three wide column")
        div(class="image fixedImage")
          img(src="https://via.placeholder.com/500")
      div(class="five wide column alkoTekstIndex")
        div(class="paragraph alkoTekstiKirjeldus")
          | Siia tuleb mingi kirjeldus
          br
          | Ja veel teksti
      div(class="two wide column")
      div(class="five wide column alkoHindIndex")
        | 15,89 €

  if products
    table(class="ui celled table uusimad")
      thread
        tr
          th Koodinimi
          th %
          th ml
          th Kategooria
      tbody
        each product in products
          tr
            td(class='data-label')
              a(href=product.url) #{product.name}
            td(class='data-label') #{product.vol}%
            td(class='data-label') #{product.ml}ml
            td(class='data-label') #{product.category}
